<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <th:block th:insert="~{componentes/head :: heads}"></th:block>
    <head>
        <title th:text="${tituloPagina}"></title>
    </head>
    <style>
        body,
        html {
          height: 100%;
          margin: 0;
        }
    
        main {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 90vh;
        }
    
        h1 {
          padding: 2rem;
          text-align: center;
          font-family: Arial, sans-serif;
        }
      </style>
  <body>
    <th:block th:insert="~{componentes/navbar :: navbar}"></th:block>

    <div class="container" th:fragment="conteudo">
      <main>
        <h1>Sistema de Notificação de Casos de Dengue e Chikungunya.</h1>
      </main>
    </div>
    <th:block th:insert="~{componentes/footer :: scripts}"></th:block>
  </body>
</html>
