<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exemplo HTMX com Thymeleaf Fragment</title>
    <th:block th:insert="~{componentes/head :: heads}"></th:block>
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
</head>
<body>
    <div  class="container">
        <h2>Formulário de Cadastro htmx</h2>

    
    <form id="userForm" hx-post="/htmx/submit" hx-target="#result" hx-swap="outerHTML">
        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>       
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>       
        <div class="mb-3">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf">
        </div>

        <button type="submit" class="btn btn-info">Enviar</button>
    </form>
    <!-- Div que será substituída pelo fragmento -->
    <div id="result" style="margin-top:20px;"></div>

</div>
</body>
</html>